body {
    text-align: center;
    background-color: #FFE57F;
}
p {
    font-size: 30px;
}
img {
    width: 700;
    height: 500;
}
.image-section {
    display: flex;
    justify-content: center;
}
.section-style {
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}